:root {
  --primary-color: #0d6efd;
  --dark-bg: #212529;
  --font-main: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: #f8f9fa;
  color: #333;
  padding-top: 76px; /* Відступ, щоб фіксоване меню не перекривало контент */
}

/* Красивий заголовок секції */
.section-title {
  color: var(--dark-bg);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title-underline {
  width: 60px;
  height: 3px;
  background-color: var(--primary-color);
  margin-top: 10px;
}
