/* Ці класи керують тим, яка "сторінка" (чи то головна, 
  чи сторінка входу) видима в даний момент.
*/
.page {
  display: none; /* За замовчуванням всі сторінки сховані */
}
.active-page {
  display: block; /* Активна сторінка - видима */
}

/* Стилі для повідомлень про помилки у формах
  (поки сховані) 
*/
.error-message {
  color: #ef4444; /* red-600 */
  font-size: 0.875rem; /* text-sm */
  display: none; /* Сховано за замовчуванням */
}
